<div id="<%= dom_id order %>">

  <p>
    <strong>Created </strong>
    <%= order.created_at %>
  </p>
  <p>
    <strong>Promotion codes:</strong>
    <%= order.promotion_codes %>
  </p>

  <p>
    <strong>Discount codes:</strong>
    <%= order.discount_codes %>
  </p>

  <p>
    <strong>Total price:</strong>
    <%= order.total_price %>
  </p>

</div>
